<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931" />
	<xacro:macro name="track" params="parent prefix joint_yaw">
		<link name="${prefix}">
			<inertial>
				<mass value="1.250" />
				<origin xyz="0 0 0" />
				<inertia ixx="0.0109375" ixy="0.0" ixz="0.0" iyy="0.021125" iyz="0.0" izz="0.0109375" /> <!-- original -->
			</inertial>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://guardian_description/meshes/others/v5/trackV5_l.stl" />
				</geometry>
				<material name="black">
					<color rgba="0.1 0.1 0.1 1" />
				</material>
			</visual>
		</link>

		<joint name="joint_${prefix}" type="fixed">
			<parent link="${parent}" />
			<child link="${prefix}" />
			<origin xyz="0.0 0.0 0.0" rpy="0 0 ${joint_yaw}" />
		</joint>

		<gazebo reference="${prefix}">
			<material>Gazebo/FlatBlack</material>
			<turnGravityOff>false</turnGravityOff>
		</gazebo>
	</xacro:macro>
</robot>

