<?xml version="1.0"?>
<launch>
	<!--<arg name="publish_odom_tf" default="true" />-->
	<rosparam command="load" file="$(find guardian_robot_control)/config/guardian_robot_control.yaml" />
	<rosparam command="load" file="$(find guardian_robot_control)/config/guardian.yaml" />
	
	<node name="guardian_robot_control" pkg="guardian_robot_control" type="guardian_robot_control" output="screen" >
		<!--<param name="publish_odom_tf" value="$(arg publish_odom_tf)" />-->
	</node>	
</launch>


