<?xml version="1.0"?>
<launch>
	<!-- roslaunch arguments -->
	<!-- <arg name="map_file" default="$(find guardian_navigation)/maps/willow_garage/willow_garage.yaml" />
	<arg name="world_model" value="$(find guardian_navigation)/worlds/guardian_navigation.world" /> -->
	<arg name="world_model" value="$(find guardian_gazebo)/worlds/guardian_ship_interior.world" />
	<arg name="map_file" default="$(find guardian_navigation)/maps/ship_interior/ship_interior.yaml" />
	<arg name="rviz_config" default="-d $(find guardian_navigation)/rviz/guardian_localization.rviz" />

	<!-- gazebo simulator -->
	<include file="$(find guardian_gazebo)/launch/guardian.launch">
		<arg name="world_model" default="$(arg world_model)" />
		<arg name="rviz_config" default="$(arg rviz_config)" />
	</include>

	<!-- Use the dwa local planner -->
	<!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->

	<!-- local navigation -->
	<!-- <include file="$(find guardian_navigation)/navigation_local/move_base_local.launch" /> -->

	<!-- global navigation -->
	<include file="$(find guardian_navigation)/navigation_amcl/amcl_guardian.launch" />
<!-- 	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="-3.2 -3.75 0 1.57079632679 0 0 /map /odom 100" /> -->

	<!-- ICP corrections -->
	<!-- <include file="$(find dynamic_robot_localization)/launch/2d_localization.launch" /> -->
	<!-- <node name="snap_map_icp" pkg="SnapMapICP" type="SnapMapICP" respawn="false" output="screen" /> -->

	<!-- run the map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="map" />
	</node>

	<!--- Run EFK Filter -->
	<!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<remap from="odom" to="guardian/odom" />
		<param name="output_frame" value="odom_combined" />
		<param name="freq" value="50.0" />
		<param name="sensor_timeout" value="1.0" />
		<param name="publish_tf" value="true" />
		<param name="odom_used" value="true" />
		<param name="imu_used" value="true" />
		<param name="vo_used" value="false" />
		<param name="debug" value="true" />
		<remap from="imu_data" to="imu/data" />
	</node> -->

	<!-- <node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 odom_combined base_footprint 100" /> -->

	<!-- Run move_base -->
	<!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<remap from="odom" to="robot_pose_ekf/odom_combined" />
		<remap from="odom" to="guardian/odom" />
		<rosparam file="$(find guardian_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find guardian_navigation)/navigation_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find guardian_navigation)/navigation_config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find guardian_navigation)/navigation_config/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find guardian_navigation)/navigation_config/base_local_planner_params.yaml" command="load" />
	</node> -->
</launch>
