<?xml version="1.0"?>
<launch>
	<!-- ======================================================================================================================== -->
	<!-- arguments -->
	<arg name="world_model" value="$(find guardian_gazebo)/worlds/guardian_ship_interior.world" />
	<arg name="rviz_config" default="-d $(find guardian_navigation)/rviz/guardian_localization.rviz" />
	<arg name="map_file" default="$(find guardian_navigation)/maps/ship_interior/ship_interior.yaml" />

	<!-- ======================================================================================================================== -->
	<!-- 2D costmap | only activate static tf when using only odometry or ekf -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="-3.2 -3.75 0 1.57079632679 0 0 /map /odom 100" /> -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
		<param name="frame_id" value="map" />
	</node>


	<!-- ======================================================================================================================== -->
	<!-- simulated localization -->
	<!--<include file="$(find guardian_navigation)/navigation_amcl/guardian_fake_localization.launch" /> -->

	<!-- amcl localization -->
	<include file="$(find guardian_navigation)/navigation_amcl/amcl_guardian.launch" />

	<!--- EFK Filter | to run ekf, switch the arg publish_tf_on_guardian_robot_control to false in the include of guardian.launch -->
	<!-- <include file="$(find guardian_navigation)/navigation_ekf/ekf.launch" /> -->

	<!-- ICP pose corrections -->
	<!-- <include file="$(find dynamic_robot_localization)/launch/planar_localization.launch" /> -->


	<!-- ======================================================================================================================== -->
	<!-- trajectory planner -->
	<!-- <include file="$(find guardian_navigation)/launch/move_base.launch" /> -->
	<!-- <include file="$(find guardian_navigation)/navigation_local/move_base_local.launch" /> -->
</launch>
