<?xml version="1.0"?>
<robot>
	<property name="M_PI" value="3.1415926535897931" /> 
	<property name="cam_px" value="0.4" />
	<property name="cam_py" value="0" />
	<property name="cam_pz" value="0.33" />

	<property name="cam_or" value="-1.5707" />
	<property name="cam_op" value="0.0" />
	<property name="cam_oy" value="0.1" />
<!-- 	<property name="cam_oy" value="-0.42" /> -->
</robot>
