<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy" name="joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="cmd_topic" value="/guardian_node/command" type="string"/>
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="2" type="int"/>  <!-- value = 0 -->
  <param name="scale_linear" value="1" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <param name="sim_mode" value="false" type="boolean"/>

  <node pkg="guardian_joystick_teleop" type="guardian_teleop_joy" name="guardian_joy_real"/>

</launch>

