<?xml version="1.0"?>
<launch>
  <!-- start openni kinect  node -->
  <include file="$(find openni_launch)/launch/openni.launch" />
  <!-- start logitech usb webcam  node -->
  <include file="$(find logitech_usb_webcam)/launch/low_res.launch" />
  <!-- include file="$(find logitech_usb_webcam)/logitech_usb_webcam.launch -->

  <!-- start image view -->
  <node pkg="image_view" type="image_view" args="image:=/logitech_usb_webcam/image_raw" name="image_view_node" output="screen"/>

  <!-- start sphereptz node --> 
  <node pkg="sphereptz" type="sphereptz" name="sphereptz_node" output="screen">
	<param name="dev_video" value="/dev/video0" type="string"/>
  </node>

  <!-- imu -->
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_3dmgx2_node" output="screen">
    <param name="time_offset" value="-0.040" />
    <!-- param name="port"  type="string" value="/dev/ttyUSB0" / -->
    <!-- param name="port" type="string" value="/dev/ttyACM0" / -->
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="autostart" type="bool" value="true" />
    <param name="frameid"  type="string" value="imu" />
    <param name="autocalibrate" type="bool" value="true" />
    <param name="angular_velocity_stdev" type="double" value="0.00017" />
    <!-- Robotnik for testing -->
    <param name="publish_tf" type="bool" value="true" />
  </node>

  <!-- HOKUYO -->
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">

    <!-- If false, starts up faster, but timestamps will be inaccurate. -->
    <param name="calibrate_time" type="bool" value="true"/>

    <!-- Set the port to connect to here -->
    <param name="port" type="string" value="/dev/ttyACM1"/>

    <param name="intensity" type="bool" value="false"/>
  </node>


</launch>

