<?xml version="1.0"?>
<launch>
  <!-- start openni kinect  node -->
  <include file="$(find openni_launch)/launch/openni.launch" />
 
  <!-- start modbus_io node -->
  <param name="modbus_io_node/ip_address" value="192.168.2.185" />
  <node pkg="modbus_io" type="modbus_io_node" name="modbus_io_node" output="screen"/> 
   
  <!-- Motor controller -->
  <node type="guardian_node" name="guardian_node" pkg="guardian_node">
    <param name="motor_dev" value="/dev/ttyS0" type="string"/>
  </node>
 
 <!-- joy node -->
  <node name="joy" pkg="joy" type="joy" respawn="true">
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- Axes -->
  <param name="cmd_topic" value="/guardian_node/command" type="string"/>
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="2" type="int"/>  <!--  value = 0 -->
  <param name="scale_linear" value="1" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  <param name="dead_man_button" value="1" type="int"/>
  <param name="button_output_1" value="7" type="int"/>
  <param name="button_output_2" value="8" type="int"/>
  <param name="output_1" value="1" type="int"/>
  <param name="output_2" value="2" type="int"/>

  <node name="guardian_pad" pkg="guardian_pad" type="guardian_pad" />
  <!-- node name="guardian_pad" pkg="guardian_pad" type="guardian_pad" args="load thrustmaster.yaml" / --> 
  <!-- node name="guardian_pad" pkg="guardian_pad" type="guardian_pad" args="load logitech.yaml" / --> 

</launch>

